/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f9d56e; }

.handler {
    cursor: move;
}

.main {
    width: 100%;
}
.node {
    position: absolute;
    z-index: 9999;
    margin-left: 160px;
    margin-top: -35px;
    
}


